MONGODB_URI=mongodb+srv://TU_USUARIO:TU_PASSWORD@TU_CLUSTER.mongodb.net/pagina_prod?retryWrites=true&w=majority
PORT=3000
JWT_SECRET=cambia_esta_clave_por_una_muy_segura

# URLs publicas
FRONTEND_URL=https://stylehub.pics
BACKEND_PUBLIC_URL=https://pagina-6ygv.onrender.com
MP_NOTIFICATION_URL=https://pagina-6ygv.onrender.com/api/payments/webhook

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-o-TEST-segun-tu-entorno

# Administradores por defecto
ADMIN_EMAIL=admin@stylehub.com
ADMIN_PASSWORD=CambiaEstePassword1!
ADMIN_NAME=Administrador StyleHub
ADMIN2_EMAIL=admin2@stylehub.com
ADMIN2_PASSWORD=CambiaEstePassword2!
ADMIN2_NAME=Administrador Secundario